<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script src='/theme.js' defer></script>
<script src='/time.js' defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href=".\assets\favicon.ico">
<link rel="stylesheet" href="/style_free_time.css">
<script src="/free_time.js" defer></script>
<title>UP AGENDA | Horaires libres</title>
</head>
<body>
<div class="wrapper">
<div class="container container-left">
<div class="header">
<a href="/welcome"><p>
<span id="logo_blanc">UP</span>
<span id="logo_violet">AGENDA</span>
</a>
<div class="row">
<div class="col-sm-12" id="heure"></div>
</div>
<div class="row">
<div class="col-sm-12" id="date"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</p>
</div>
<div class="btn-new-task">
<a href="/creationTache" id="ajouter_une_tache" name="ajouter_une_tache" class="btn-new-task">
Ajouter un événement
</a>
</div>
<nav class="menu">
<div class="item-menu" id="first">
<i class="fa fa-calendar" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/">Calendrier</a>
</div>
<div class="item-menu">
<i class="fa fa-tasks" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/evenements">Toutes les tâches</a>
</div>
<div class="item-menu">
<i class="fa fa-calendar-check-o" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/todo">To-do list</a>
</div>
<div class="item-menu">
<i class="fa fa-clock-o" style="font-size:40px; color:rgb(94, 129, 244)"></i>
<a href="/rendezVous" class="color-purple">Horaires libres</a>
</div>
<div class="item-menu">
<i class="fa fa-users" style="font-size:30px; color:rgb(94, 129, 244)"></i>
<a href="/recherche">Autres utilisateurs</a>
</div>
<div class="item-menu">
<i class="fa fa-gear" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/settings">Paramètres</a>
</div>
<div class="item-menu">
<i class="fa fa-sign-out" style="font-size:34px; color:rgb(94, 129, 244)"></i>
<a href="/api/user/logout">Déconnexion</a>
</div>
</nav>
</div>
<div class="container container-middle">
<div class="freeTimeFrom">
<form method="post" action="/api/freeTime/add">
<fieldset>
<legend>Saisie de temps libre </legend>
<% if (locals.error){ %>
<div class="alert_error" >
<%= locals.error%>
</div>
<% } %>
<% if (locals.success){ %>
<div class="alert_success" >
<%= locals.success%>
</div>
<% } %>
<label class="label_inline_date_label">Date début<string>*</string></label>
<label>Date fin<strong>*</strong></label><br>
<input type="date" class="inline_date" id="dateFreeTime"  name="dateFreeTime">        
<input id="date_fin" class="inline_date" name = "dateEndFreeTime" type="date" placeholder=" Date fin" ><br>
<label class="label_inline_time_label" id="start">Heure de début <string>*</string></label>
<label>Heure de fin <string>*</string></label><br>
<input type="time" id="startFreeTime" class="inline_time" name="startFreeTime">
<input type="time" id="endFreeTime" class="inline_time" name="endFreeTime">
</fieldset><br>
<input type="submit" id="btn_form" class="bouton" placeholder="Ajouter" style="cursor: pointer;">
</form>
</div>
</div>
<!--Horaires libres-->
<div class="container container-right">                                                     
<div class="tasks">
<% time = locals.freeTime%>
<% time.forEach(function(elem){ %>
<div id="" class="oneTask">
<span class="taskName" style="color: rgb(94, 129, 244);"><strong><%= elem.date%></strong></span><br>
<span class="taskDate"> Début : <%=elem.start%></span><br>
<span class="taskName" style="color: rgb(94, 129, 244);"><strong><%= elem.date_end%></strong></span><br>
<span class="taskTime">Fin : <%=elem.end%></span><br>
<span class="options">
<i class="fas fa-trash-alt" style="color: rgb(94, 129, 244);" onclick="deleteFreeTime('<%= elem.id %>')"></i>
</span>
</div>
<%})%>
</div>
</div>
</div>
</body>
</html>
